extends layout

block vars
    -var title = "Desserts";

block content
    p This is my dessert page!
    each picture in desserts.pictures
        div
            p #{picture[0]}
            img(src=picture[1])