extends layout

block vars
    -var title = "Directions";

block content
    p This is my direction page!
    iframe(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDXZ3XhfHt4ANtbJE0oaR_ok1htc2xM5wI&q=/place/Neumont+College+of+Computer+Science", frameborder="0")