extends layout

block vars
    -var title = "Drinks";

block content
    p This is my drinks page!
    each picture in drinks.pictures
        div
            p #{picture[0]}
            img(src=picture[1], class="image")