extends layout

block vars
    -var title = "Drinks";

block content
    each picture in drinks.pictures
        div
            p #{picture[0]}: #{picture[2]}
            img(src=picture[1], class="image")