extends layout

block vars
    -var title = "Entrees";

block content
    each picture in entrees.pictures
        div
            p #{picture[0]}: #{picture[2]}
            img(src=picture[1], class="image")