extends layout

block vars
    -var title = "Entrees";

block content
    p This is my entree page!
    each picture in entrees.pictures
        div
            p #{picture[0]}
            img(src=picture[1])