extends layout

block vars
    -var title = "Sides";

block content
    p This is my sides page!
    each picture in sides.pictures
        div
            p #{picture[0]}
            img(src=picture[1], class="image")