extends layout

block vars
    -var title = "Sides";

block content
    each picture in sides.pictures
        div
            p #{picture[0]}: #{picture[2]}
            img(src=picture[1], class="image")